*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles-list{
   display: flex;
   flex-wrap: wrap;

}
.article{
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px;
    flex-grow: 1;
}
